body {
    color: #273c48!important;
    font-family: Lato, Arial, sans-serif;
    font-size: 17px;
    height:100%;
}

a {
    color: #273c48;
    cursor: pointer;
}

.navbar {
    letter-spacing: .01rem;
    font-size: 100%;
    background: #ffc40c!important;
}

.nav-link {
    margin-top: 0px;
    font-family: 'Brandon Grotesque', Arial, sans-serif;
    color: #fff!important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.nav-link:hover {
    background: #273c48;
    color: #fff;
}

.caps {
    text-transform: uppercase;
}

.navbar-brand {
    letter-spacing: .2em;
    padding-right: 20px;
    border-right: solid 3px #fff;
    font-size: 1.40rem;
}

#navbarNav {
    margin-left: 0px;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.mainContainer {
    margin-top: 50px;
}

.customCard {
    background: #f4f4f2;
    padding: 20px;
    border-radius: 10px;
    min-height: 400px;
    color: #273c48;
}

.headerName {
    text-align: center;
    margin-bottom: 2px;
    /* padding-top: 20px; */
    color: #273c48;
    font-size: 26px;
    line-height: 33px;
    font-weight: 200;
    letter-spacing: .2em;
}

.border-bottom {
    border-bottom-style: solid!important;
    border-bottom-width: 1px!important;
    border-bottom-color: rgba(0,0,0,.125)!important;
}

#email {
    padding: 5px;
}

#email:hover {
    background: #273c48;
    color: #ffc40c;
    text-decoration: none;
}

.center {
    text-align: center;
}

.topMargin {
    margin-top: 20px;
}

#squarePupper {
    width: 25%;
}

.citation {
    font-size: 12px;
    font-style: italic;
}

.booksPage {
    background-color: #f4f4f2;
}

.bookTitle {
    font-family: Lora;
    font-style: italic;
    font-size: 22px;
    line-height: 1.425;
}

table {
    background: #fff;
}

table tbody tr:hover {
    /* background: #ffc40c; */
    background: rgba(39, 60, 72,.3);
}

.headingBooks {
    margin-top: 0px;
    font-family: Jubilat, Georgia, sans-serif;
    color: #273c48;
    font-size: 50px;
    line-height: 57px;
    text-transform: none;
    font-weight: 200;
    text-align: center;
}

.formCardMain {
    background: #ffc40c;
    padding: 10px;
}

.formCard {
    background: #fff;
    padding: 20px;
    /* font-family: Jubilat, Georgia, sans-serif; */
    letter-spacing: 0.4px;
}

.cta.cta-2 {
    display: inline-block;
    width: 222px;
    margin-top: 52px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
}

.cta {
    border: 2px solid #273c48;
    background-color: transparent;
    opacity: 1;
    transition: background-color 108ms ease;
    font-family: 'Brandon Grotesque', Arial, sans-serif;
    color: #273c48;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.w-button {
    padding: 9px 15px;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.cta:hover {
    background-color: #273c48;
    color: #fff;
}

footer {
    /* position: fixed; */
    background-color: #343a40!important;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: 300px;  
}

footer p {
    margin-top: 25px;
}